# Firebase database credentials for deployment (Vercel, Netlify, etc.)
# If these environment variables are set, they will override the default hardcoded keys.
FIREBASE_PROJECT_ID=gen-lang-client-0216449585
FIREBASE_APP_ID=1:54693547741:web:ed3b6eb9a03a4020b8d534
FIREBASE_API_KEY=AIzaSyBJL8juPWwPNxXhr5ByTDig5HdZl7AaexU
FIREBASE_AUTH_DOMAIN=gen-lang-client-0216449585.firebaseapp.com
FIREBASE_DATABASE_ID=ai-studio-sigijewelrymanuf-940c2757-2772-4107-b989-812127d6c530
FIREBASE_STORAGE_BUCKET=gen-lang-client-0216449585.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=54693547741
